<h2><%= @restaurant.name %></h2>
<p>(<%= @restaurant.category %>)</p>
<br>
<p><i class="fas fa-map-marker-alt"></i> <%= @restaurant.address %></p>
<p><i class="fas fa-phone"></i> <%= @restaurant.phone_number %></p>
<br>
<h2>Reviews</h2>

<% @restaurant.reviews.each do |review| %>
  <p><%= review.content %></p>
  <p><%= review.rating %> <i class="fas fa-star"></i></p>
  <hr>
<% end %>

<%= link_to "Add review",  new_restaurant_review_path(@restaurant) %>
